soap-backend/soap-generation/src/main/resources/schemas/message-service.types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   xmlns="http://github.com/hofls/types/"
		   targetNamespace="http://github.com/hofls/types/">

	<xs:element name="getMessageRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="userName" type="xs:string"/>
				<xs:element name="userCity" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="getMessageResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="greeting" type="xs:string">
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>